.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln　　　
.mvn　　　　
.iml
mvnw
mvnw.cmd
logs/
target/

.project
.settings
.classpath

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.DS_Store
node_modules/

public/
!public/static
